/* =====  Gallery style  ===== */

.gallery-menu li span {
    cursor: pointer;
    display: block;
    color: #888;
    margin-bottom: 5px;
    padding: 5px 15px;
    transition: all 0.5s;
    margin-top: 5px;
}

.gallery-menu span.active,
.gallery-menu span:hover {
    color: #fff !important;
    background-color: #BD945A;
}

.gallery-item {
    position: relative;
    padding: 15px;
}