/* ======= Friends style ======= */

.friends .item {
    padding: 30px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.friends .img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

.friends .info {
    margin-left: 160px;
}

.friends .info h6 {
    font-size: 24px;
    margin-bottom: 0;
}

.friends .info span {
    color: #BD945A;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Alex Brush', cursive;
    margin-bottom: 10px;
}

.friends .info p {
    margin-bottom: 0;
}

.friends .toright .img {
    float: right;
}

.friends .toright .info {
    margin-left: 0;
    margin-right: 160px;
    text-align: right;
}

@media screen and (max-width: 991px) {

    .friends .item,
    .friends .toright .info {
        text-align: center;
    }

    .friends .img {
        margin: auto;
        float: none !important;
    }

    .friends .info {
        margin: 30px 0 0 0 !important;
    }
}