/* ===== When & Where style ===== */

.whenwhere .item .whenwhere-img {
    position: relative;
    overflow: hidden;
}

.whenwhere .item .whenwhere-img:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.whenwhere .item .whenwhere-img img {
    -webkit-transition: all .5s;
    transition: all .5s;
}

.whenwhere .item .content {
    padding: 20px 20px 30px 20px;
    background: #fff;
}

.whenwhere .item .content .tag a {
    color: #888;
    font-style: italic;
}

.whenwhere .item .content .tag a:hover {
    color: #BD945A;
}

.whenwhere .item .content h5 {
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.whenwhere .item .content p i {
    color: #BD945A;
}

.whenwhere-entry {
    width: 100%;
    float: left;
    background: #fff;
    margin-bottom: 60px;
    box-shadow: 0 25px 75px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 768px) {
    .whenwhere-entry {
        margin-bottom: 45px;
    }
}

.whenwhere-entry .whenwhere-img {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.whenwhere-entry .whenwhere-img img {
    position: relative;
    max-width: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.whenwhere-entry .desc {
    padding: 20px;
}

.whenwhere-entry .desc h3 {
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 15px;
}

.whenwhere-entry .desc h3 a {
    color: #000;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.whenwhere-entry:hover .whenwhere-img img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}